<ion-header>
  <ion-toolbar>
    <img
      src="assets/images/esri.png"
      width="14%"
      height="14%"
      class="ion-margin"
    />
    <div slot="end" class="block-title">
      <ion-title size="main">Career Planning</ion-title>
      <ion-button class="bar" (click)="goBack()"
        ><ion-icon name="arrow-back-circle-outline"></ion-icon>Back to
        Main</ion-button
      >
    </div>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-title size="large">Stay in Support Route</ion-title>
  <ion-grid>
    <ion-row>
      <ion-col size="6" *ngFor="let roles of supportRoles">
        <ion-card>
          <ion-title size="large"> {{ roles.role }} </ion-title>
          <p style="white-space: pre-line" padding="10%">
            {{roles.description}}
          </p>
          <ion-button
            class="learn"
            fill="outline"
            (click)="setOpen(true, roles)"
            >Learn More</ion-button
          >
          <p></p>
          <ion-modal [isOpen]="isModalOpen">
            <ng-template>
              <ion-header>
                <ion-toolbar>
                  <ion-title size="main"> {{modalTmp.role}} </ion-title>
                  <ion-buttons slot="end">
                    <ion-button (click)="setOpen(false, '')"
                      ><ion-title size="main">Close</ion-title></ion-button
                    >
                  </ion-buttons>
                </ion-toolbar>
              </ion-header>
              <ion-content class="ion-padding">
                <ion-grid>
                  <ion-row>
                    <ion-col *ngIf="modalTmp.url !== ''">
                      <iframe [src]="modalTmp.url | safe"></iframe>
                    </ion-col>
                    <ion-col *ngIf="modalTmp.image !== ''">
                      <img class="modal" [src]="modalTmp.image" />
                    </ion-col>
                    <ion-col>
                      <ion-accordion-group>
                        <ion-accordion value="first">
                          <ion-item slot="header" color="light">
                            <ion-label
                              >What standout skills contribute to success in
                              this role</ion-label
                            >
                          </ion-item>
                          <div class="ion-padding" slot="content">
                            <div
                              *ngFor="let skills of modalTmp.skills"
                              class="flex-container"
                            >
                              - {{skills}}
                            </div>
                          </div>
                        </ion-accordion>
                        <ion-accordion value="second">
                          <ion-item slot="header" color="light">
                            <ion-label
                              >What desires, aspirations, or qualities should
                              Support analysts exhibit to be considered a good
                              hire?</ion-label
                            >
                          </ion-item>
                          <div class="ion-padding" slot="content">
                            “It’s my desire to…”
                            <br /><br />
                            <div
                              class="flex-container"
                              *ngFor="let desire of modalTmp.desires"
                            >
                              - {{desire}}
                            </div>
                            <br />
                            “I aspire to…”
                            <br /><br />
                            <div
                              class="flex-container"
                              *ngFor="let aspire of modalTmp.aspires"
                            >
                              - {{aspire}}
                            </div>
                            <br />
                            “I am…”
                            <br /><br />
                            <div
                              class="flex-container"
                              *ngFor="let am of modalTmp.iAm"
                            >
                              - {{am}}
                            </div>
                            <br />
                          </div>
                        </ion-accordion>
                        <ion-accordion value="third">
                          <ion-item slot="header" color="light">
                            <ion-label
                              >What training, experiences, and/or
                              responsibilities can analysts complete to prepare
                              for this role in their current
                              position?</ion-label
                            >
                          </ion-item>
                          <div class="ion-padding" slot="content">
                            <div
                              class="flex-container"
                              *ngFor="let experience of modalTmp.experiences"
                            >
                              - {{experience}}
                            </div>
                          </div>
                        </ion-accordion>
                        <ion-accordion value="fourth">
                          <ion-item slot="header" color="light">
                            <ion-label
                              >What are the prototypical feeder roles for {{
                              modalTmp.role}}?
                            </ion-label>
                          </ion-item>
                          <div class="ion-padding" slot="content">
                            <div class="flex-container">
                              <div
                                class="flex-container"
                                *ngFor="let proto of modalTmp.prototypical"
                              >
                                - {{proto}}
                              </div>
                            </div>
                          </div>
                        </ion-accordion>
                        <ion-accordion value="fifth">
                          <ion-item slot="header" color="light">
                            <ion-label
                              >What lateral/promotion career opportunities exist
                              within Esri for those in this role?
                            </ion-label>
                          </ion-item>
                          <div class="ion-padding" slot="content">
                            <div
                              class="flex-container"
                              *ngFor="let opportunity of modalTmp.opportunities"
                            >
                              - {{opportunity}}
                            </div>
                          </div>
                        </ion-accordion>
                        <ion-accordion value="sixth">
                          <ion-item slot="header" color="light">
                            <ion-label>
                              What surprised you when you took on the role of {{
                              modalTmp.role }}?
                            </ion-label>
                          </ion-item>
                          <div class="ion-padding" slot="content">
                            <div class="flex-container">
                              <div
                                class="flex-container"
                                *ngFor="let surprise of modalTmp.surprises"
                              >
                                - {{surprise}}
                              </div>
                            </div>
                          </div>
                        </ion-accordion>
                      </ion-accordion-group>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-content>
            </ng-template>
          </ion-modal>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
