ion-title.title-main {
  color: lightgrey;
  font-size: 200%;
  flex-grow: 1;
}

ion-title.title-large {
  color: black;
  font-size: 200%;
  padding: 1%;
}

ion-toolbar {
  --background: #2d2670;
}

ion-button.bar {
  --background: rgb(84, 69, 255);
}

ion-button.learn {
  padding-left: 2%;
}

.sidebar-skype {
  display: inline-block;
}

.block-title {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: space-between;
  flex-direction: row;
}

p {
  padding-left: 2%;
  font-size: 150%;
}

ion-modal {
  --width: 100%;
  --height: 100%;
  --border-radius: 0;
}
