<ion-header>
  <ion-toolbar>
    <img src="assets/images/esri.png" class="ion-margin" />
    <div slot="end" class="block-title">
      <ion-title size="main">Career Planning</ion-title>
      <ion-button class="bar" (click)="goBack()"
        ><ion-icon name="arrow-back-circle-outline"></ion-icon>Back to
        Main</ion-button
      >
    </div>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-title size="large">Stay in Support Route</ion-title>
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-lg="6" *ngFor="let roles of supportRoles">
        <ion-card>
          <ion-title size="large"> {{ roles.role }} </ion-title>
          <p style="white-space: pre-line" padding="10%">
            {{roles.description}}
          </p>
          <ion-button
            class="learn"
            fill="outline"
            (click)="setOpen(true, roles)"
            >Learn More</ion-button
          >
          <p></p>
          <ion-modal [isOpen]="isModalOpen">
            <ng-template>
              <ion-header>
                <ion-toolbar>
                  <!-- <ion-title size="main"> {{modalTmp.role}} </ion-title> -->
                  <ion-buttons slot="end">
                    <ion-button (click)="setOpen(false, '')"
                      ><ion-title size="main">Close</ion-title></ion-button
                    >
                  </ion-buttons>
                </ion-toolbar>
                <ion-title size="center"> {{modalTmp.role}} </ion-title>
              </ion-header>
              <ion-content class="ion-padding">
                <!-- <ion-title size="center"> {{modalTmp.role}} </ion-title> -->
                <ion-grid>
                  <ion-row *ngIf="modalTmp.url !== '';else image">
                    <iframe [src]="modalTmp.url | safe"></iframe>
                  </ion-row>
                  <ng-template #image>
                    <img class="modal" [src]="modalTmp.image" />
                  </ng-template>
                  <ion-col>
                    <ion-accordion-group>
                      <ion-accordion value="first">
                        <ion-item slot="header" color="light">
                          <ion-label
                            >What skills have you learned as an analyst that
                            have contributed to success in this role?</ion-label
                          >
                        </ion-item>
                        <div class="ion-padding" slot="content">
                          <div
                            *ngFor="let skills of modalTmp.skills"
                            class="flex-container"
                          >
                            - {{skills}}
                          </div>
                        </div>
                      </ion-accordion>
                      <ion-accordion value="second">
                        <ion-item slot="header" color="light">
                          <ion-label
                            >What new skills have you learned in this
                            role?</ion-label
                          >
                        </ion-item>
                        <div class="ion-padding" slot="content">
                          <div
                            class="flex-container"
                            *ngFor="let newSkill of modalTmp.newSkills"
                          >
                            - {{newSkill}}
                          </div>
                        </div>
                      </ion-accordion>
                      <ion-accordion value="third">
                        <ion-item slot="header" color="light">
                          <ion-label
                            >What training, experiences, and/or responsibilities
                            can analysts complete to prepare for this role in
                            their current position?</ion-label
                          >
                        </ion-item>
                        <div class="ion-padding" slot="content">
                          <div
                            class="flex-container"
                            *ngFor="let experience of modalTmp.experiences"
                          >
                            - {{experience}}
                          </div>
                        </div>
                      </ion-accordion>
                      <ion-accordion value="fourth">
                        <ion-item slot="header" color="light">
                          <ion-label
                            >What are the primary responsibilities in this role?
                          </ion-label>
                        </ion-item>
                        <div class="ion-padding" slot="content">
                          <div
                            class="flex-container"
                            *ngFor="let responsibility of modalTmp.primaryResponsibilities"
                          >
                            - {{responsibility}}
                          </div>
                        </div>
                      </ion-accordion>
                      <ion-accordion value="fifth">
                        <ion-item slot="header" color="light">
                          <ion-label
                            >What other responsibilities (secondary) are
                            required in the role?
                          </ion-label>
                        </ion-item>
                        <div class="ion-padding" slot="content">
                          <div
                            class="flex-container"
                            *ngFor="let responsibility of modalTmp.secondaryResponsibilities"
                          >
                            - {{responsibility}}
                          </div>
                        </div>
                      </ion-accordion>
                      <ion-accordion value="sixth">
                        <ion-item slot="header" color="light">
                          <ion-label>
                            What surprised you when you took on the role of {{
                            modalTmp.role }}?
                          </ion-label>
                        </ion-item>
                        <div class="ion-padding" slot="content">
                          <div class="flex-container">
                            <div
                              class="flex-container"
                              *ngFor="let surprise of modalTmp.surprises"
                            >
                              - {{surprise}}
                            </div>
                          </div>
                        </div>
                      </ion-accordion>
                    </ion-accordion-group>

                    <ion-title>test</ion-title>
                  </ion-col>
                </ion-grid>
              </ion-content>
            </ng-template>
          </ion-modal>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
