ion-title.title-main {
  color: lightgrey;
  font-size: 200%;
  flex-grow: 1;
  font-family: "Avenir Next" !important;
}

ion-toolbar {
  --background: #2d2670;
}

ion-button {
  --background: rgb(84, 69, 255);
}

.sidebar-skype {
  display: inline-block;
}

.block-title {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: space-between;
  flex-direction: row;
  font-family: "Avenir Next" !important;
}

ion-grid {
  background: white;
}

ion-card {
  background: white;
}

.md {
  --ion-background-color: white;
  --ion-color-light: gainsboro;
  --ion-color-light-contrast: black;
  --ion-color-light-shade: gainsboro;
  --ion-text-color: black;
}

ion-accordion-group {
  background: white;
}
