<ion-header>
  <ion-toolbar>
    <img
      src="assets/images/esri.png"
      width="14%"
      height="14%"
      class="ion-margin"
    />
    <div slot="end">
      <ion-title size="main">Career Planning</ion-title>
    </div>
    <div slot="end">
      <ion-searchbar
        placeholder="Search a Specific Role"
        animated="true"
      ></ion-searchbar>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Esri Career Planning</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content class="ion-padding">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-card button="true" [routerLink]="['/support']">
            <ion-card-header>
              <ion-title size="large">
                Explore Options within Support Services<ion-icon
                  name="arrow-forward-circle-outline"
                ></ion-icon>
              </ion-title>
            </ion-card-header>
            <ion-img src="assets\images\analyst.png"></ion-img>
          </ion-card>
        </ion-col>
        <ion-col>
          <ion-card button="true" [routerLink]="['/outside-support']">
            <ion-card-header>
              <ion-title size="large">
                Explore Options Outside Support Services<ion-icon
                  name="arrow-forward-circle-outline"
                ></ion-icon></ion-title
            ></ion-card-header>
            <ion-img src="assets\images\outside.png"></ion-img>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
</ion-content>
