<ion-header>
  <ion-toolbar>
    <img
      src="assets/images/esri1.png"
      width="14%"
      height="14%"
      class="ion-margin"
    />
    <div slot="end">
      <ion-title size="main">Career Planning</ion-title>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Esri Career Planning</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content class="ion-no-padding">
    <video width="100%" poster="assets\images\poster.png" volume=".2" controls>
      <source src="assets\videos\smartMaps.mp4" type="video/mp4" />
    </video>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-card>
            <ion-img
              style="float: left; margin-bottom: 2%; height: 450px"
              src="assets\images\analyst.png"
            ></ion-img>
            <ion-card-header>
              <ion-title size="card">
                Explore Options within Support Services
              </ion-title>
            </ion-card-header>
            <p>
              Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit
              aut fugit, sed quia consequuntur magni dolores eos qui ratione
              voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem.
              Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit
              aut fugit, sed quia consequuntur magni dolores eos qui ratione
              voluptatem sequi nesciunt. Neque porro quisquam est, qui
              dolorem.<br />
              <ion-button [routerLink]="['/support']">Learn More</ion-button>
            </p>
            <p></p>
          </ion-card>
          <ion-card button="true" [routerLink]="['/outside-support']">
            <ion-img
              style="float: right; margin-bottom: 2%; height: 450px"
              src="assets\images\outside.png"
            ></ion-img>
            <ion-card-header>
              <ion-title size="card">
                Explore Options Outside Support Services</ion-title
              ></ion-card-header
            >
            <p>
              Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit
              aut fugit, sed quia consequuntur magni dolores eos qui ratione
              voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem.
              Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit
              aut fugit, sed quia consequuntur magni dolores eos qui ratione
              voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem.
            </p>
            <ion-button size="left" [routerLink]="['/outside-support']"
              >Learn More</ion-button
            >
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
</ion-content>
