#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

ion-title.title-large {
  color: rgb(84, 69, 255);
  font-size: 300%;
}

ion-title.title-main {
  color: lightgrey;
  font-size: 200%;
}

ion-img {
  height: 500px;
  width: 100%;
}

ion-toolbar {
  --background: #2d2670;
}

.block-title {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: space-between;
  flex-direction: row;
}
